<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Snap! Build Your Own Blocks. Beta</title>
        <link rel="shortcut icon" href="http://snap.berkeley.edu/fav3.gif" type="image/gif">
		<script type="text/javascript" src="static/snap/morphic.js"></script>
		<script type="text/javascript" src="static/snap/widgets.js"></script>
		<script type="text/javascript" src="static/snap/blocks.js"></script>
		<script type="text/javascript" src="static/snap/threads.js"></script>
		<script type="text/javascript" src="static/snap/objects.js"></script>
		<script type="text/javascript" src="static/snap/gui.js"></script>
		<script type="text/javascript" src="static/snap/paint.js"></script>
		<script type="text/javascript" src="static/snap/lists.js"></script>
		<script type="text/javascript" src="static/snap/byob.js"></script>
		<script type="text/javascript" src="static/snap/xml.js"></script>
		<script type="text/javascript" src="static/snap/store.js"></script>
		<script type="text/javascript" src="static/snap/locale.js"></script>
		<script type="text/javascript" src="static/snap/cloud.js"></script>
		<script type="text/javascript" src="static/snap/sha512.js"></script>
		<script type="text/javascript">
			var world;
			window.onload = function () {
				world = new WorldMorph(document.getElementById('world'));
				new IDE_Morph().openIn(world);
				setInterval(loop, 1);
			};
			function loop() {
				world.doOneCycle();
			}
		</script>
	</head>
	<body style="margin: 0;">
		<canvas id="world" tabindex="1" style="position: absolute;" />
    </body>
</html>
